
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm())
{
    <div>@Html.Label("Login name")</div>
    <div>@Html.TextBox("name")</div>
    <div>@Html.Label("Password")</div>
    <div>@Html.TextBox("password")</div>
    <input type="submit" value="Login">
}

